# directories
elpa
eshell
games
semanticdb
url
tutorial
transient
bak
request
.lsp-session*
org-persist

# files
*~
*\#*
lisp/init/init-secrets.el
session.*
tramp
abbrev_defs
ido.last
smex-items
recentf
.aider*
network-security.data
